In [60]:
import pandas as pd
import numpy as np
import time

# Terminations

### Read Data

In [61]:
TEMP_PATH = "termination_source/Person Internal_Termination RDI Template.xlsx"
#PEOPLE_PATH = "Terminations - July 1, 2022.xlsx"
PEOPLE_PATH = "termination_source/Terminations - July 1, 2022.xlsx"
#template = pd.read_excel(TEMP_PATH, sheet_name="Sheet1")
people = pd.read_excel(PEOPLE_PATH)

#### Preview Data

In [62]:
people.head()

,EN,Employee Name,Site,Action Date,Business Title
0,92265,"Abusaleh, Majdi",HR Chalk River,2022-10-20,Contingent Worker
1,91918,"Acton, Tyler",HR Port Hope,2023-02-03,CWK - Radiation Surveyor
2,58024,"Adams, Lynne",HR Chalk River,2023-03-31,"Manager, Waste & Transportation Programs"
3,56328,"Adams, Tamara",HR Chalk River,2023-01-23,Project Control Coordinator
4,20924,"Addicott, Bruce",HR Chalk River,2022-07-22,R&D Officer

## Translation

Needed columns, in order of the template.

In [63]:
# Complete - Values in source
person_no_source = ""
person_no_dest = "PERSON_NO"
person_no_val = "SKIP"
# Complete - Values static
status_dest = "STATUS"
status_val = "Terminated"
#Complete - Values in source
terminated_on_source = "Action Date"
terminated_on_dest = "TERMINATED_ON"
# Complete - Values static
security_domain_dest = "SECURITY_DOMAIN"
security_domain_val = "CNL Global"
# Complete - Values static
gender_dest = "GENDER"
gender_val = 2
# Complete - Values static
home_domain_dest = "HOME_DOMAIN"
home_domain_val = "CNL Global"
# Complete - Values static
locale_dest = "LOCALE"
locale_val = "en_us"
# Complete - Values static
timezone_dest = "TIMEZONE"
timezone_val = "(GMT-05:00) Eastern Time (US & Canada)"
# Incomplete - Need Source
company_source = ""
company_dest = "COMPANY"
company_val = "SKIP"
# Complete - need to split
name_source = "Employee Name"
fname_source = "fname"
lname_source = "lname"
fname_dest = "FNAME"
lname_dest = "LNAME"
# Complete - Values in source
user_name_source = "EN"
user_name_dest = "USERNAME"

In [64]:
template = pd.DataFrame(columns=[person_no_dest, status_dest, terminated_on_dest,
                                 security_domain_dest, gender_dest, home_domain_dest,
                                 locale_dest, timezone_dest, company_dest, fname_dest,
                                 lname_dest, user_name_dest])

##### Split Names

In [65]:
people[[lname_source, fname_source]] = people[name_source].str.split(",", n = 1, expand = True)
people.head()

,EN,Employee Name,Site,Action Date,Business Title,lname,fname
0,92265,"Abusaleh, Majdi",HR Chalk River,2022-10-20,Contingent Worker,Abusaleh,Majdi
1,91918,"Acton, Tyler",HR Port Hope,2023-02-03,CWK - Radiation Surveyor,Acton,Tyler
2,58024,"Adams, Lynne",HR Chalk River,2023-03-31,"Manager, Waste & Transportation Programs",Adams,Lynne
3,56328,"Adams, Tamara",HR Chalk River,2023-01-23,Project Control Coordinator,Adams,Tamara
4,20924,"Addicott, Bruce",HR Chalk River,2022-07-22,R&D Officer,Addicott,Bruce

In [66]:
people[fname_source]

0                Majdi
1                Tyler
2                Lynne
3               Tamara
4                Bruce
            ...
474               Zaki
475            Derrick
476     Zhaoli Charlie
477               Zane
478             Andrew
Name: fname, Length: 479, dtype: object

### Create Output

In [72]:
template[person_no_dest] = person_no_val
template[status_dest] = status_val
template[terminated_on_dest] = people[terminated_on_source]
template[security_domain_dest] = security_domain_val
template[gender_dest] = gender_val
template[home_domain_dest] = home_domain_val
template[locale_dest] = locale_val
template[timezone_dest] = timezone_val
template[company_dest] = company_val
template[fname_dest] = people[fname_source]
template[lname_dest] = people[lname_source]
template[user_name_dest] = people[user_name_source]
template.head()

,PERSON_NO,STATUS,TERMINATED_ON,SECURITY_DOMAIN,GENDER,HOME_DOMAIN,LOCALE,TIMEZONE,COMPANY,FNAME,LNAME,USERNAME
0,SKIP,Terminated,2022-10-20,CNL Global,2,CNL Global,en_us,(GMT-05:00) Eastern Time (US & Canada),SKIP,Majdi,Abusaleh,92265
1,SKIP,Terminated,2023-02-03,CNL Global,2,CNL Global,en_us,(GMT-05:00) Eastern Time (US & Canada),SKIP,Tyler,Acton,91918
2,SKIP,Terminated,2023-03-31,CNL Global,2,CNL Global,en_us,(GMT-05:00) Eastern Time (US & Canada),SKIP,Lynne,Adams,58024
3,SKIP,Terminated,2023-01-23,CNL Global,2,CNL Global,en_us,(GMT-05:00) Eastern Time (US & Canada),SKIP,Tamara,Adams,56328
4,SKIP,Terminated,2022-07-22,CNL Global,2,CNL Global,en_us,(GMT-05:00) Eastern Time (US & Canada),SKIP,Bruce,Addicott,20924

#### Write CSV

In [73]:
write_time = time.strftime("%Y%m%d-%H%M%S")
fname = "termination_out/termination_template " + write_time + ".csv"
template.to_csv(fname, index=False)
print("File written to: " + fname)

File written to: termination_out/termination_template 20230425-105315.csv